ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
INFOPLIST_FILE = Support/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = de.jensmeder.phoenxapp
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 3.0
CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer
PROVISIONING_PROFILE_SPECIFIER = 

