BUNDLE_LOADER = $(TEST_HOST)
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CODE_SIGN_IDENTITY = iPhone Developer
CODE_SIGN_STYLE = Automatic
GCC_C_LANGUAGE_STANDARD = gnu11
INFOPLIST_FILE = Support/Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 10.3
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
ONLY_ACTIVE_ARCH = YES
PRODUCT_BUNDLE_IDENTIFIER = de.jensmeder.phoenxapp_tests
PRODUCT_NAME = $(TARGET_NAME)
SWIFT_VERSION = 3.0
TARGETED_DEVICE_FAMILY = 1,2
TEST_HOST = $(BUILT_PRODUCTS_DIR)/PhoenxApp.app/PhoenxApp

